/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} */
#root {
  min-height:100vh;
}
@media (prefers-reduced-motion: no-preference) {
  /* .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } */
}

.MenuButton{
  height: 100vh;
  z-index: 50;
  background-color: grey;
  width: 300px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
position: fixed;
top:0;
left: 0;
}
.MenuButton li a{
  color: white;
}

.AppBase{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.MenuButton li {
  padding-left: 0;

  padding: 5px 0;
  text-decoration: none;
  list-style-type: none;
}
.boroughListing li {
  display: inline;
  padding-left: 10px;
}

.NavigationBar{
  background-color: #E0E1E2;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border-top: solid #1003a1 3px;
  /* border-top: solid #221d58 3px; */
  margin-bottom: 4px;
}
.NavigationDesktop li{
  display: inline;
  padding-right: 10px;

}
.NavigationDesktop li a{
  color: black;
}
.HomeBase{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-flow: row;
  min-height: 70vh;
  overflow: hidden;
}
.HomeImage{
  /* height: 60vh; */
}
.imageHeight{
  background-repeat: no-repeat;
  background-size: cover;
}
#BaseContainer{
  flex-grow: 1;
}

.ContractorListing{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.JobDetail{
  padding: 25px 10px;
  width: 75%;
  margin: auto;
  /* margin-top: 25px; */
  /* background-color: rgb(94, 94, 94); */
}
.ContractorDetail{
  padding: 25px 10px;
  width: 75%;
  margin: auto;
  /* margin-top: 25px; */
  /* background-color: rgb(94, 94, 94); */
}

/* .Map{
  height: 300px;
} */

.ContractorJobs{
  padding-bottom: 20px;
}

.HomeLeftSide{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.HomeLeftSide p {
  width: 90%;
}
.HomeLeftSide hr {
  width: 40%;
  height: 1px;
  background-color: #1003a1;
}

.HomeLeftSide h1 {
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
  color: #1003a1;
}

.HomeLeftSide h3{
  margin: 0;
  padding: 0;
}